body {
  padding-top: 5rem;
}

nav.navbar {
  background-color: #5c73b7;
  opacity: 0.9;
}

h2.title {
  background-color: #5c73b7;
  color: #ffffff;
  font-size: 1.8rem;
  margin: 2rem 0 0.5rem;
  opacity: 0.9;
  padding: 0.2rem 0.5rem;
}

h3.title {
  background-color: #5c73b7;
  color: #ffffff;
  font-size: 1.6rem;
  margin: 2rem 0 0.5rem;
  opacity: 0.9;
  padding: 0.2rem 0.5rem;
}

h4.title {
  background-color: #5c73b7;
  color: #ffffff;
  font-size: 1.4rem;
  margin: 2rem 0 0.5rem;
  opacity: 0.9;
  padding: 0.2rem 0.5rem;
}

h3.left-line, h4.left-line {
  border-left: solid 8px #5c73b7;
  font-size: 1.2rem;
  margin: 1rem 0;
  padding: 0.2rem 0.5rem;
}

h3.desc, h4.desc {
  border-bottom: solid 3px #5c73b7;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  opacity: 0.9;
  padding: 0.2rem 0.5rem;
}

a:link, a:visited {
  outline: none;
  text-decoration: none;
}

a:hover {
  color: #000000;
  outline: none;
  text-decoration: none;
}

p, ul, ol, li {
  margin: 0;
  padding: 0;
}

ul, ol {
  padding-left: 2rem;
}

/* 目次（table of contents） */
ul.toc {
  border: solid 2px #5c9ee7;
  margin-bottom: 1rem;
  margin-top: 3rem;
  padding: 0.5rem;
  position: relative;
}

/* 目次の1行 */
ul.toc li {
  border-bottom: dashed 1px silver;
  line-height: 1.5;
  list-style-type: none!important;
  padding: 0.5rem 0 0.5rem 1.4rem;
}

/* 目次の最後の点線を削除 */
ul.toc li:last-of-type {
  border-bottom: none;
}

/* 目次リストのマーク */
ul.toc li:before {
  background: #5c9ee7;
  border-radius: 50%;
  content: '';
  display: inline-block; 
  height: 0.8rem;
  margin-right: 8px;
  vertical-align: middle;
  width: 0.8rem;
}

/* 目次のタイトル */
ul.toc li:after {
  background: #5c9ee7;
  bottom: 100%;
  color: #fff;
  content: "目次";
  font-weight: bold;
  left: -2px;
  letter-spacing: 0.05rem;
  padding: 1px 7px;
  position: absolute;
}

div.box {
  border-radius: 8px;
  border: solid 3px #95ccff;
  margin: 2rem 0 1rem 1rem;
  padding: 0.5rem 1rem;
  position: relative;
}

div.box .box-title {
  background: #fff;
  color: #95ccff;
  display: inline-block;
  font-size: 19px;
  font-weight: bold;
  left: 10px;
  line-height: 1;
  padding: 0 9px;
  position: absolute;
  top: -13px;
}

div.profile-box {
  border: solid 1px #000;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  position: relative;
}

/* ページトップに戻るボタン */
button#page-top {
  /* buttonタグのリセットCSS */
  appearance: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;

  /* ボタンの装飾 */
  align-items: center;
  background-color: #212529;
  border-radius: 50%;
  bottom: 15px;
  display: flex;
  height: 50px;
  justify-content: center;
  opacity: 0.7;
  position: fixed;
  right: 15px;
  transition: all 0.3s ease;
  width: 50px;
  z-index: 100;
}

/* ページトップに戻るボタン：矢印 */
button#page-top::before {
  border-right: solid 3px #fff;
  border-top: solid 3px #fff;
  content: "";
  height: 12px;
  margin-bottom: -6px;
  transform: rotate(-45deg);
  width: 12px;
}

/* ページトップに戻るボタン：ホバー時 */
button#page-top:hover {
  transform: scale(1.1);
}

pre.block {
  margin: 0.2rem 0 1rem 0.5rem;
  padding: 0.2rem 0.5rem;
}

pre.inline {
  margin: 0;
  padding: 0.2rem 0.5rem;
}

code {
  font-family: Monaco, Menlo, Consolas, 'Courier New', Courier, monospace, sans-serif;
}
