body {
  padding-top: 5rem;
}

h2.title {
  font-size: 2rem;
  margin: 2rem 0 0.5rem;
  opacity: 0.9;
  padding: 0.2rem 0.5rem;
}

h3.title {
  font-size: 1.5rem;
  margin: 2rem 0 0.5rem;
  opacity: 0.9;
  padding: 0.2rem 0.5rem;
}

h4.title {
  font-size: 1.2rem;
  margin: 2rem 0 0.5rem;
  opacity: 0.9;
  padding: 0.2rem 0.5rem;
}

a:link, a:visited {
  outline: none;
  text-decoration: none;
}

a:hover {
  color: #000000;
  outline: none;
  text-decoration: none;
}

p, ul, ol, li {
  margin: 0;
  padding: 0;
}

ul, ol {
  padding-left: 2rem;
}

pre.block {
  margin: 0.2rem 0 1rem 1rem;
  padding: 0.2rem 0.5rem;
}

pre.inline {
  margin: 0;
  padding: 0.2rem 0.5rem;
}

code {
  font-family: Monaco, Menlo, Consolas, 'Courier New', Courier, monospace, sans-serif;
}

div.box {
  border: solid 3px #95ccff;
  border-radius: 8px;
  margin: 2rem 0 1rem 1rem;
  padding: 0.5rem 1rem;
  position: relative;
}

div.box .box-title {
  background: #fff;
  color: #95ccff;
  display: inline-block;
  font-size: 19px;
  font-weight: bold;
  left: 10px;
  line-height: 1;
  padding: 0 9px;
  position: absolute;
  top: -13px;
}

/* ページトップに戻るボタン */
button#page-top {
  /* buttonタグのリセットCSS */
  appearance: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;

  /* ボタンの装飾 */
  align-items: center;
  background-color: #808080;
  border-radius: 50%;
  bottom: 15px;
  display: flex;
  height: 50px;
  justify-content: center;
  opacity: 0.7;
  position: fixed;
  right: 15px;
  transition: all 0.3s ease;
  width: 50px;
  z-index: 100;
}

/* ページトップに戻るボタン：矢印 */
button#page-top::before {
  border-right: solid 3px #fff;
  border-top: solid 3px #fff;
  content: "";
  height: 12px;
  margin-bottom: -6px;
  transform: rotate(-45deg);
  width: 12px;
}

/* ページトップに戻るボタン：ホバー時 */
button#page-top:hover {
  transform: scale(1.1);
}
