h2.title {
  background-color: #5c73b7;
  color: #ffffff;
}

h3.title {
  background-color: #5c73b7;
  color: #ffffff;
}

h4.title {
  background-color: #5c73b7;
  color: #ffffff;
}

h3.oper {
  border-bottom: solid 3px #5c73b7;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  opacity: 0.9;
  padding: 0.2rem 0.5rem;
}

h4.oper {
  border-bottom: solid 3px #5c73b7;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  opacity: 0.9;
  padding: 0.2rem 0.5rem;
}

nav.navbar {
  background-color: #5c73b7;
  opacity: 0.9;
}

div.profile-box {
  border: solid 1px #000;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  position: relative;
}
